{% extends 'base.html.twig' %}



{% block title %}Annonces{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Enrégistrement des annonces</h1>
     {{ message }}

    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    
                    <form id="annonceForm" action="/annonces/create" method="post">
                        <div class="row">
                        
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="typeLogement">Type de logement</label>
                                    <select name="typeLogement" id="typeLogement">
                                        <option>...</option>
                                        {% for tl in typelogements %}
                                        <option> {{tl.libelle}} </option>
                                        {%endfor%}
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="nbPieces">Nombre de pièce</label>
                                    <input type="text" name="nbPieces" id="nbPieces" placeholder="Nombre de pièce..." autocomplete="on">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="numeroEtage">Numéro étage</label>
                                    <input type="text" name="numeroEtage" id="numeroEtage" placeholder="Numéro étage..." autocomplete="on">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="proprietaire">Proprietaire</label>
                                    <input type="text" name="proprietaire" id="proprietaire" placeholder="Superficie..." autocomplete="on">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="superficie">Superficie</label>
                                    <input type="text" name="superficie" id="superficie" placeholder="Superficie..." autocomplete="on">
                                </fieldset>
                                </fieldset>
                            </div>
                                                        
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="description">Description logement</label>
                                    <textarea name="description" id="description" placeholder="Description"></textarea>
                                </fieldset>
                            </div>

                        </>

                        <div class="row">

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="adresseComplete">Adresse complète</label>
                                    <input type="text" name="adresseComplete" id="adresseComplete" placeholder="Adresse complète..." autocomplete="on">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="cp">Code postal</label>
                                    <input type="text" name="cp" id="cp" placeholder="Code postal..." autocomplete="on">
                                </fieldset>
                            </div>
                                                        
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="ville">Ville</label>
                                    <input type="text" name="ville" id="ville" placeholder="Ville..." autocomplete="on">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="pays">Pays</label>
                                    <select name="pays" id="pays" placeholder="Pays..." autocomplete="on">
                                        <option>France</option>
                                        <option>Espagne</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="descriptionA">Description</label>
                                    <textarea name="descriptionA" id="descriptionA" placeholder="Description"></textarea>
                                </fieldset>
                            </div>

                        </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="orange-button">Valider</button>
                                    <button type="reset" id="form-reset" class="orange-button">Annuler</button>
                                </fieldset>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}
